.Top{
    display: flex;
    justify-content: space-between;
    color:#f8f8fc;
    background-color:#01614e;
    margin: 0 auto;
    padding: 0 80px 0 80px;
}
.Top h1{
    font-size: 15px;
}
.Top a{
    color: #f8f8fc;
    text-decoration: none;
}